<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>ScrobbleKit reads what you play in Apple Music so it can scrobble it to Last.fm and ListenBrainz.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.scrobblekit.refresh</string>
		<string>com.scrobblekit.flush</string>
	</array>
	<key>LastFMAPIKey</key>
	<string></string>
	<key>LastFMSharedSecret</key>
	<string></string>
</dict>
</plist>
